{% extends '_partials/app.html' %}

{% block title 'Home' %}

{% block main %}

<div class="jumbotron">
    <div class="col-md-8 col-md-offset-2 text-center">
        <br>
        <br>
        <h1>Busca DCG</h1>
        <br>
        <p>O portal que facilita suas escolhas de Disciplinas Complementares e te aproxima das sua área de interesse!</p>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="col-md-6 col-md-offset-1">
        <a href="{{ base_url }}/curso" class="btn btn-primary pull-right">Visualizar Cursos</a>
    </div>
    <div class="clearfix"></div>
</div>

{% endblock %}
