{% extends '_partials/app.html' %}

{% block title 'Home' %}

{% block main %}

<div class="clearfix" style="margin: 20px"></div>
<div class="col-md-10 col-md-offset-1">
    <div>
        <h1 class=" text-center" style="margin-bottom: 20px">
            Descrição do objetivo do projeto
        </h1>
        <p class=" text-justify">
            O projeto consiste em um portal de gerenciamento de DCGs. O portal permitirá que alunos de determinado curso conheçam Disciplinas Complementares em meio aos outros cursos que possam ter relação com o seu, permitindo este visualizar de forma simplificada quais são as possibilidades de disciplinas que poderá lecionar e que estão dentro dos pré requisitos das disciplinas necessárias para sua graduação.
        </p>
        <h1 class=" text-center" style="margin-bottom: 20px">
            Problema à ser resolvido
        </h1>
        <p class=" text-justify">
            O aluno de graduação por muitas vezes passa por muita dificuldade na hora de encontrar disciplinas que se encaixam na área em que deseja adquirir conhecimentos complementares aos já existentes no seu curso. Com isso, acaba muitas vezes cursando disciplinas que não são do seu interesse, pois não encontra  ou desconhece as disciplinas que estão sendo ofertadas em outros cursos. Através do Portal de DCGs, o aluno poderá encontrar as disciplinas que estão disponíveis em outros cursos e regulamentadas conforme a ementa e os pré requisitos exigidos por seu curso e consequentemente formando profissionais mais satisfeitos e preparados para o mercado de trabalho de sua escolha.
        </p>
        <h1 class=" text-center" style="margin-bottom: 20px">
            Público alvo
        </h1>
        <p class=" text-justify">
            O sistema se destina aos estudantes graduandos do ensino superior de universidades que possuem a política de disciplinas complementares à sua graduação.
        </p>
        </br>
        <p class=" text-center">
            Sistema produzido para a disciplina de Progeto e Gerência de Banco de Dadaos por </br> Adriano Luis de Almeida e Joel Ferreira da Silva
        </p>
    </div>

</div>
{% endblock %}
