<h3>Informações do curso</h3>
<div class="form-group">
    <label>Nome:</label>
    <input type="text" name="nome" value="{{ curso.nome }}" class="form-control">
</div>
{% include 'departamentos/modal-form.html' %}

<div class="form-group">
    <label>Departamento:</label>
    <select name="departamento" class="form-control">
        {% for departamento in departamentos %}

        {% if departamento == curso.departamento %}
        <option value="{{ departamento }}" selected>{{ departamento }}</option>
        {% else %}
        <option value="{{ departamento }}">{{ departamento }}</option>
        {% endif %}

        {% endfor %}
    </select>
</div>
<div class="form-group">
    <label>Semestres:</label>
    <input type="number" name="semestres" value="{{ curso.semestres }}" class="form-control"/>
</div>
<div class="form-group">
    <label>Vagas:</label>
    <input type="number" name="vagas" value="{{ curso.vagas }}" class="form-control"/>
</div>
<div class="form-group">
    <label>Apresentação do curso</label>
    <textarea name="apresentacao" class="form-control">{{ curso.apresentacao }}</textarea>
</div>


<div class="disciplinas">

    {% for key, disciplina in curso.disciplinas %}
    <div class="disciplina-{{ key }}">
        <h3>Informações do disciplina</h3>

        <button data-key="{{ key }}" class="btn btn-danger remove">Remove</button>

        <div class="form-group">
            <label>Nome disciplina:</label>
            <input name="disciplinas[{{ key }}][nome]" value="{{ disciplina.nome }}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Código:</label>
            <input name="disciplinas[{{ key }}][codigo]" value="{{ disciplina.codigo }}" class="form-control"/>
        </div>

        <div class="form-group">
            <label>Objetivos:</label>
            <textarea name="disciplinas[{{ key }}][objetivos]"
                      class="form-control">{{ disciplina.objetivos }}</textarea>
        </div>

        <div class="form-group">
            <label>Programa:</label>
            <textarea name="disciplinas[{{ key }}][programa]" class="form-control">{{ disciplina.programa }}</textarea>
        </div>
    </div>

    {% endfor %}

</div>

<input name="key_disciplina" type="hidden" value="{{ curso.disciplinas|length }}"/>

<button class="btn btn-success adicionar">Adicionar disciplina</button>

<button type="submit" class="btn btn-primary pull-right">Enviar</button>
