.footer{
    width: 100%;
    height: 200px;
    bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    position: absolute;
}

.footer .links{
    padding-left: 0;
    margin-bottom: 20px;
}

.footer .links li{
    float: left;
    padding-right: 10px;

    list-style-type : none;
}

.footer .links li a{
    color: #ffffff;
}

.copyright{
    bottom: 0px;
    margin-top: 50px;
}