footer{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: #2a2730;
    color: #99979c;
}

.footer .links{
    padding-left: 0;
    margin-bottom: 20px;
}

.footer .links li{
    float: left;
    padding-right: 10px;

    list-style-type : none;
}

.footer .links li a{
    color: #ffffff;
}

.copyright{
    bottom: 0px;
    margin-top: 50px;
}
*  {
    margin:0;
    padding:0;
}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

#wrapper{
    min-height: 100%;
    position: relative;
}
div.body-content{
    /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    padding-bottom: 100px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #f0f8ff;
    margin: 0 0 60px; /* altura do seu footer */
}
.btn{
    border-radius: 1px !important;
}
.modal-footer{
    border-top: none !important;
}